<!DOCTYPE html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body class="color-body ">
	<header th:replace="~{master-page/header}"></header>

	<div class="d-flex justify-content-center" style="margin-top: 20px;">
		<div class="row ">
			<div class="col-xl-4" th:each="genre : ${genres}">
				<div class="card" style="width: 400px; height: 380px; margin-bottom: 50px;">
					<div class="contain" style="width: 398px; height: 200px;">	
						<img th:src="${genre.games[4].image}" class="card-img-top" alt="Not found"
							 style="filter: grayscale(90%) blur(1.5px); width: 100%; height: 100%; display: block;">
							<div class="centered" th:text="${genre.name}"></div>
					</div>
					<div class="card-body bg-dark text-light">
						<!--<h5 class="card-title" th:text="${genre.name}"></h5>-->
						<span class="card-text text-justify" th:utext="${genre.description}"></span>
						<table style="width: 100%; border-top: 1px solid grey;  border-bottom: 1px solid grey;">
							<tr><td style="text-align: left;">
								<img src="/img/console.png" style="height: 25px;"></td>
							<td style="text-align: right;"><span style="margin-right: 10px;" th:text="${genre.games.size()}"></span>
							</td></tr>
						</table>
						<!--<div class="text-center" style="margin-top: 10px;">
							<a href="#" class="btn btn-success align-center">Show Games</a>
						</div>-->
					</div>
				</div>
			</div>
		</div>

	</div>

	<nav aria-label="Pagination" th:if="${totalPages > 0}">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
				<a th:replace="~{fragments/pagingGenre :: paging(1, '<<', 'First Page')}"></a>
			</li>
			<li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
				<a th:replace="~{fragments/pagingGenre :: paging(${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
			</li>
			<li class="page-item disabled" th:if="${currentPage - 2 > 1}">
				<a class="page-link" href="#">...</a>
			</li>
			<li class="page-item" th:classappend="${page == currentPage} ? 'active'"
				th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
				<a th:replace="~{fragments/pagingGenre :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
			</li>
			<li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
				<a class="page-link" href="#">...</a>
			</li>
			<li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
				<a th:replace="~{fragments/pagingGenre :: paging(${currentPage + 1},'Next', 'Next Page')}"></a>
			</li>
			<li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
				<a th:replace="~{fragments/pagingGenre :: paging(${totalPages}, '>>', 'Last Page')}"></a>
			</li>
		</ul>
	</nav> 
	<footer th:replace="~{master-page/footer}"></footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>