<!DOCTYPE html>

<head>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body class="color-body">
	<header th:replace="~{master-page/header}"></header>



	<div class="bg-secondary d-flex justify-content-center align-items-center" style="padding: 20px 0px;">
		<div class="bg-white p-5 rounded-5" style="padding: 15px 0px;">
			<div th:if=${param.error1}>
				<div class="alert alert-danger">This email is already in use</div>
			</div>
			<div th:if=${param.error2}>
				<div class="alert alert-danger">This username is already in use</div>
			</div>
			<form th:action="@{/register}" method="post" th:object="${user}">
				
				<div class="mb-3">
					<label for="password" class="form-label fw-semibold">Old password</label>
					<input type="password" id="password" class="form-control" aria-describedby="passwordHelpInline"
						th:field="*{password}" name="oldPass" required="required">
				</div>
				
				<div class="mb-3">
					<label for="password" class="form-label fw-semibold">New password</label>
					<input type="password" id="password" name="pass" class="form-control" aria-describedby="passwordHelpInline" required="required">
				</div>

				<div class="mb-3">
					<label for="password" class="form-label fw-semibold">Repeat new password</label>
					<input type="password" id="password" name="pass2" class="form-control" aria-describedby="passwordHelpInline"
						required="required">
				</div>


				<div class="d-flex justify-context-center">
					<button type="submit" class="btn btn-success"
						style="width: 300px; margin-top: 30px;">Change password</button>
				</div>
		</div>
	</div>
	</form>

	<footer th:replace="~{master-page/footer}"></footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>