.color-body{
	background-color: #90A4AE;
}

.btn btn-success{
	margin-left: 10px;	
}

btn btn-outline-success{
	margin-right:10px;
}

.beti{
	background-color:#5F6063
	/*#A1887F*/
}

