<!DOCTYPE html>

<head>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body class="color-body">

	<header th:replace="~{master-page/header}"></header>

	<div class="container text-center" style="background-color: #1C2833; color:aliceblue; width: 100%">

		<!-- Image and title -->
		<div class="row">
			<div class="col" style="max-width: 30%;"><img th:src="${game.image}" alt="Not found"
					style="max-width: 100%; height: 175px; margin-top: 50px; border: 1px solid white;"></div>
			<div class="col-6" style="display: flex; align-items: center; max-width: 40%;">
				<h1 th:text="${game.title}" class="game-title"></h1>
			</div>
			<div class="col" style="max-width: 30%;">


			</div>
		</div>

		<!-- All the Progress thing and number added number reviews -->
		<div class="row" style="width: 100%;">
			<div class="col" style="max-width: 30%;"></div>
			<div class="col-6 stats" style="max-width: 40%;">

				<img src="/img/plus.png" style="height: 20px; width: 20px; margin-bottom: 4px;">
				<span th:text="${progressCount}" style="margin-right: 5px;"></span>
				<img src="/img/comment.png" style="height: 20px; width: 20px; margin-bottom: 4px">
				<span th:text="${reviewsCount}"></span>


			</div>
			<div class="col" style="max-width: 30%;">
		</div>

		<!-- Realease date, developers, platforms and genres -->
		<div class="row" style="width: 100%;">
			<div class="col info-table" style="max-width: 30%;">
				<table class="table table-dark table-hover">
					<tbody>
						<tr>
							<th>Release Date</th>
							<td>
								<div>
									<p th:text="${#dates.format(game.release_date,'dd/MM/yyyy')}"></p>
								</div>
							</td>
						</tr>
						<tr>
							<th>Developer</th>
							<td>
								<div th:if="${developers !=null}">
									<div th:each="developer : ${developers}">
										<a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
											th:text="${developer.name}"
											th:href="@{games/listByDeveloper(developerId=${developer.id})}"></a>
									</div>
								</div>

								<span th:if="${developers == null}" th:text="UNKOWN"></span>
							</td>
						</tr>
						<tr>
							<th>Platforms</th>
							<td>
								<div th:each="platform : ${platforms}">
									<a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
										th:text="${platform.name}"
										th:href="@{games/listByPlatform(platformId=${platform.id})}"></a>
								</div>
							</td>
						</tr>
						<tr>
							<th>Genres</th>
							<td>
								<div th:each="genre : ${genres}">
									<a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
										th:text="${genre.name}" th:href="@{games/listByGenre(genreId=${genre.id})}"></a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-6" style="text-align: justify; margin-top: 30px; max-width: 40%;" th:utext="${game.description}">
			</div>
			<div class="col" style="margin-top:-50px; max-width: 30%;" sec:authorize="isAuthenticated()">
				<div th:if=${param.progressSuccess}>
					<div class="alert alert-success" style="margin-top: -74px;">Progress saved!</div>
				</div>
				<div th:if=${param.listSuccess}>
					<div class="alert alert-success" style="margin-top: -74px;">Game added to list</div>
				</div>
				<div th:if=${param.listFail}>
					<div class="alert alert-danger" style="margin-top: -74px;">You have not selected a list</div>
				</div>
				<div th:if=${param.reviewSuccess}>
					<div class="alert alert-success" style="margin-top: -74px;">Review saved!</div>
				</div>
				<div th:if=${param.reviewDeleted}>
					<div class="alert alert-success" style="margin-top: -74px;">Your review has been deleted</div>
				</div>
				<div th:if=${param.progressDeleted}>
					<div class="alert alert-success" style="margin-top: -74px;">Your progress has been deleted</div>
				</div>
				<form method="post" action="/progress/rated">
					<table class="table table-dark table-hover" style="border: 3px #198754 solid; ">
						<tbody>
							<tr>
								<td>
									<table align="center">
										<tr>
											<td>
												<p style="margin-right: -50px; ">Rating</p>
											</td>
										</tr>
										<tr>
											<td>
												<p th:text="${rating + '/5'}" style="font-size: 40px;"></p>
											</td>
											<td><img src="/img/star.png"
													style="height: 30px; margin-top:-20px; filter: invert(1)"></td>
								</td>
							</tr>
					</table>

					</tr>

					<tr>

						<td class="rating-container">
							<input type="hidden" id="ownRating" name="ownRating" th:value="${ownRating}" />
							<p>Your Rating</p>
							<div class="stars">
								<i class="bx bx-star">
									<div></div>
									<div></div>
								</i>
								<i class="bx bx-star">
									<div></div>
									<div></div>
								</i>
								<i class="bx bx-star">
									<div></div>
									<div></div>
								</i>
								<i class="bx bx-star">
									<div></div>
									<div></div>
								</i>
								<i class="bx bx-star">
									<div></div>
									<div></div>
								</i>
							</div>
							<p class="rating"><span id="number" name="number">0</span> out of 5</p>

						</td>
					</tr>
					<tr>
						<td style="display: flex; justify-content: space-between; width: 100%;">
							<input type="hidden" id="ownStatus" name="ownStatus" th:value="${status}" />
							<div style="text-align: center; margin-left: 20px;">
								<img id="icon1" src="/img/icon1.png" alt="Empty Icon"
									style="width: 50px; height: 50px; cursor: pointer;" onclick="rateGame(1)">
								<div id="text1" style="color: grey; font-size: 12px; margin-top: 5px;">Playing</div>
							</div>

							<div style="text-align: center;">
								<img id="icon2" src="/img/icon2.png" alt="Empty Icon"
									style="width: 50px; height: 50px; cursor: pointer;" onclick="rateGame(2)">
								<div id="text2" style="color: grey; font-size: 12px; margin-top: 5px;">Completed</div>
							</div>

							<div style="text-align: center;">
								<img id="icon3" src="/img/icon3.png" alt="Empty Icon"
									style="width: 50px; height: 50px; cursor: pointer;" onclick="rateGame(3)">
								<div id="text3" style="color: grey; font-size: 12px; margin-top: 5px;">Dropped</div>
							</div>

							<div style="text-align: center; margin-right: 20px;">
								<img id="icon4" src="/img/icon4.png" alt="Empty Icon"
									style="width: 50px; height: 50px; cursor: pointer;" onclick="rateGame(4)">
								<div id="text4" style="color: grey; font-size: 12px; margin-top: 5px;">Plan To Play
								</div>
							</div>
						</td>
					</tr>
					<tr th:if="${status == 'Completed'}" style="height: auto;">
						<td>
							<p style="margin: 0;"><span style=" font-weight: bold;">Completed on: </span><span th:text="${#dates.format(finishDate, 'dd/MM/yyyy')}"></span></p>
						</td>
					</tr>
					<tr th:if="${status != null}">
						<td th:if="${ownReview == null || ownReview.text == null}"><a
								th:href="@{review(id=${progressId})}"
								class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Add
								a review</a></td>
						<td th:if="${ownReview != null && ownReview.text != null}"><a
								th:href="@{review(id=${progressId})}"
								class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">See/Modify
								your review
							</a></td>
					</tr>
					<tr th:if="${gameLists != null}">
						<td onclick="window.modal1.showModal();" style="display: block;"><a>Add game to list</a>

						</td>

					</tr>

					<tr>
						<td>
							<button type="submit" class="btn btn-success" id="saveRate">Save Progress</button>
							<a class="btn btn-danger" th:if="${status != null}" th:href="@{progress/delete(id=${progressId})}"
							th:data-confirm-delete="|Are you sure do you want to delete your progress?|" 
							onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Remove Progress</a>
						</td>
					</tr>
					</tbody>
					</table>
					<input type="hidden" name="gameId" th:value="${game.id}" />
				</form>
			</div>

			</div>
		</div>

		<!-- More reviews -->
		<div class="row" style="width: 100%;">
			<div class="col" style="max-width: 30%;"></div>
			<div class="col-6" style="border-bottom: 1px solid white; margin-top: 10px; max-width: 40%;">
				<table style="width: 100%;">
					<tr>
						<td style="text-align: left;">
							<p style="margin-bottom: -0px;">REVIEWS</p>
						</td>
						<td style="text-align: right;">
							<a class="link-light link-underline-opacity-0 link-underline-opacity-0-hover"
								th:if="${reviews != null}" th:href="@{reviews/list(gameId=${game.id})}">MORE REVIEWS</a>
						</td>
					</tr>
				</table>


			</div>
			<div class="col" style="max-width: 30%;"></div>
		</div>

		<!-- Reviews -->
		<div class="row" style="width: 100%;">
			<div class="col" style="max-width: 30%;"></div>


			<div class="col-6" th:if="${reviews == null}"
				style="margin-top: 75px; margin-bottom: 75px;font-style: italic; max-width: 40%;">
				<span>No reviews yet</span>
			</div>
			<div class="col-6" th:if="${reviews != null}" style="max-width: 40%;">
				<div th:each="review, iterationStatus : ${reviews}">
					<th:block th:if="${iterationStatus.index < 3}">
						<div style="text-align: left; border-bottom: 0.2px solid grey;">
							<table style="width: 100%;">
								<tr>
									<td>
										<a class="link-success link-underline-opacity-0 link-underline-opacity-0-hover" 
										th:text="${review.user.username}"
										th:href="@{/{username}(username=${review.user.username})}"></a>
									</td>
									<td style="text-align: right;">
										<p th:utext="${review.rating % 1 == 0 ? #numbers.formatInteger(review.rating,1) :
								#numbers.formatDecimal(review.rating,1,1,'POINT')}"></p>
									</td>
								</tr>
								<tr>
									<td>
										<p  style="text-align: justify;" th:text="${review.review.text}"></p>
									</td>
								</tr>
							</table>
					</th:block>
				</div>

			</div>
			<div class="col" style="max-width: 30%;"></div>
		</div>
	</div>
</div>
	<!-- External window to add a game to a list-->
	<dialog id="modal1">
		<form method="post" action="/gameList/saveGame">
			<h3 th:text="${'Add `' + game.title + '` to your list'}" style="padding: 10px;"></h3>
			<th:block th:each="gameList : ${gameLists}">
				<label style="border-top: 1px solid grey; width: 100%; padding: 10px; display: block;">
					<input type="checkbox" class="custom-checkbox" th:id="${'checkbox-' + gameList.id}"
						name="gameListIds" th:value="${gameList.id}" th:checked="${gameList.games.contains(game)}"
						th:disabled="${gameList.games.contains(game)}">
					<label th:text="${gameList.title}" th:for="${'checkbox-' + gameList.id}"
						style="font-size: 20px; color: lightgray;display: inline;"></label>
				</label>
				<input type="hidden" id="gameId" name="gameId" th:value="${game.id}" />
			</th:block>
			<section style="width: 100%; height: 75px; background-color: #151E27; text-align: right; ">
				<button type="submit" class="btn btn-success" id="saveRate"
					style="margin-top: 20px; margin-right: 10px;">Add</button>
			</section>
		</form>
	</dialog>
	<footer th:replace="~{master-page/footer}"></footer>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

</body>

</html>